# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

liquibase.properties

src/main/resources/application.yml
src/main/resources/application-dev.yml
src/main/resources/application-prod.yml
src/main/resources/application.properties