spring:
  profiles:
    active: dev

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

server:
  port: 0

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
