spring:
  datasource:
    url: jdbc:postgresql://user-db:5432/${USER_POSTGRES_DB}
    username: ${USER_POSTGRES_USER}
    password: ${USER_POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

server:
  port: 8080
