spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/${ORDER_POSTGRES_DB}
    username: ${ORDER_POSTGRES_USER}
    password: ${ORDER_POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

server:
  port: 8083
