spring:
  datasource:
    url: jdbc:postgresql://localhost:5435/${USER_POSTGRES_DB}
    username: ${USER_POSTGRES_USER}
    password: ${USER_POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

server:
  port: 8081
