spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/${RESTAURANT_POSTGRES_DB}
    username: ${RESTAURANT_POSTGRES_USER}
    password: ${RESTAURANT_POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

server:
  port: 8082
